body {
  background: linear-gradient(45deg, #fe6b8b 30%, #ff8e53 90%);
  font-family: -apple-system, BlinkMacSystemFont, 'avenir next', avenir, 'helvetica neue', helvetica,
    ubuntu, roboto, noto, 'segoe ui', arial, sans-serif;
  padding: 0 20px;
}
